*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(fondo2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
 .Fondo{
    width: 430px;
    background: #fff;
    color: #16A34A;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(32, 98, 12);
    border-radius: 8px;
    padding: 30px 40px;
    border: 2.5px solid #16A34A;
}

.Fondo h1{
    font-size: 40px;
    text-align: center;
}
.Fondo .contenedor{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.contenedor input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #040D12;
    border-radius: 30px;
    font-size: 17px;
    color: #16A34A;
    padding: 20px 40px 20px 20px;
}

.contenedor input::placeholder{
    color: #16A34A;
}

.Fondo .Recordar{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 15px 0 15px;
}

.Recordar label input{
    accent-color: #16A34A;
    margin-right: 3px;
}

.Recordar a{
    color: #16A34A;
    text-decoration: none;
}

.Recordar a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #16A34A;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 1);
    color: #fff;
    font-weight: bold;
}

.Fondo .Registro-enlaces{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}

.Registro-enlaces p a{
    color: #16A34A;
    text-decoration: none;
    font-weight: bold;
}

.Registro-enlaces p a:hover{
    text-decoration: underline;
}